---
layout: page
title: Blog
show_excerpts: true
#excerpt_separator: <!-- more -->
---

{%- if site.posts.size > 0 -%}

<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
<ul class="post-list">
  {%- for post in paginator.posts -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format | upcase }} &sim; {{ post.categories | join: ' · ' | upcase }} &sim; {{ post.tags | join: ' · ' | upcase }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {%- if page.show_excerpts -%}
      <div class="holosec-excerpts-hover">{{ post.excerpt }}</div>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>

{%- endif -%}

<br>

<!-- Pagination links in Blog list -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"> &laquo; previous</a>
  {% else %}
    <span class="previous"> &laquo; previous</span>
  {% endif %}
  <span class="page_number">  page {{ paginator.page }} of {{ paginator.total_pages }} </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">next &raquo; </a>
  {% else %}
    <span class="next ">next &raquo; </span>
  {% endif %}
</div>